.main {
    background: #fff;
}
.list {
    padding: 0 10px;
}
.listItem {
    width: 100%;
    line-height: 40px;
}
.listAvatar {
    text-align: center;
}
.listCounts,
.listTitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.listDate {
    padding-right: 10px;
    text-align: right;
}
.pagination {
    padding: 10px;
    border-top: 1px solid #e8e8e8;
    text-align: center;
}