.replyEdtor  :global(.ql-editor) {
    min-height: 100px;
}
:global(.editBox) .mask {
    display: flex;
    justify-content:center;
    align-items:center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 144px;
    background: rgba(0, 0, 0, .5);
}
.replyBtn {
    margin: 0 10px;
}