.page {
  min-width: 1200px;
  min-height: 100vh;
}
#logo {
  float: left;
  padding: 0 20px;
}
.nav {
  float: left;
}
.nav :global(.ant-menu-item) {
  line-height: 64px;
}
.loginNav {
  float: right;
  line-height: 64px;
}
.loginNav a {
  color: rgba(255, 255, 255, .6)
}
.loginNav span {
  margin: 0 10px;
  font-family: "宋体";
  color: rgba(255, 255, 255, .6)
}
